.user-wrapper{
  height: 700px;
  background: radial-gradient(circle at center, rgba(166,0,0,0.7) 0%,rgb(216, 150, 111) 20%,rgb(245, 247, 248) 18%,rgb(255, 255, 255) 40%);
}
.room-user-name{
  text-align: center;
  font-size: 25px;
  margin: 60px;
}

.detail-table{
  width: 100%;
}

.detail-item{
  width: 20%;
  background-color: #eee;
  border: 1px #dedede solid;
  font-size: 14px;
  text-align: center;
}

.detail-value{
  width: 80%;
  padding: 20px;
  border: 1px #dedede solid;
  font-size: 14px;
}
